[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "3.2.4"
django-cors-headers = "3.7.0"
psycopg2-binary = "2.9"
django-summernote = "0.8.11.6"
pillow = "8.2.0"
boto3 = "1.17.98"
django-storages = "1.11.1"
python-decouple = "3.4"

[dev-packages]

[requires]
python_version = "3.9"
