{% extends 'base.html' %} {% load static %} {% block content %}
<h1>About Page</h1>

<p>
  20 years building elite homes with a handful of the finest craftsmen
  available. Custom Homes, green building, period (historical) renovations,
  additions & remodels. Projects in Pemberton, Tarrytown, Westlake, Rob Roy,
  Barton Creek, Lakeway, Hyde Park, Travis Heights, Barton Hills, Brykerwoods
  and East Austin. National Home Builders Association CGB (certified graduate
  builder) designation.
</p>
{% endblock%}
