{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Custom Home Builder Located in Central Texas"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Barlow+Condensed|PT+Sans+Narrow|Yanone+Kaffeesatz&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <title>{% block title %} Bryan Murphy Custom Homes {% endblock %}</title>
  </head>
  <body>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
